<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Selamat!! Email anda telah teraktivasi</p>
    <p>
    Contact details <br>
    -------------------------- <br>

    Message:<br>
    Silahkan Login!!
    </p>
  </body>
</html>