<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hi There,</p>
    <p>
      Thanks for registering! To confirm your registration click the URL below. <br> <br>
      <a href="http://localhost:3000/email_confirmation/<%= @token %>/confirm_email"> Activate Email </a>
    </p>
  </body>
</html>